@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

$main-color:rgb(87, 178, 240);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

ul {
  list-style-type: none;
}

main {
  display: flex;
  max-width: 1344px;
  margin: 0 auto;
  padding-top: 30px;
}

aside {
  width: 20%;
  min-width: 200px;
  max-height: 164px;
  background-color: $main-color;
}

section {
  width: 80%;
  padding: 20px;
  padding-top: 0;
}

h1 {
  margin-bottom: 10px;
}

/*menu*/

.menu {
  &-item {
    &:hover {
      background-color: #fff;
      & .menu-link {
        color: $main-color;
      }
    }
  }
  &-link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }
}

/*news-item*/

.avatar {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.post {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid $main-color;
  border-radius: 10px;
  &-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
}

.actions-post {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.like-btn {
  width: 24px;
  height: 22px;
  background: none;
  border: none;
  cursor: pointer;
}
.like-btn:focus {
  outline: none;
}